<div class="dashboard-body-content">
    <h5>Edit Brand</h5>
    <hr>
    <form class="edit-brand-form" #brandEditForm="ngForm" (ngSubmit)="brandFormSubmit(brandEditForm)">
        <div class="row m-0 pt-3">
            <div class="col-lg-2">
                <div class="brand-wrapper" style="background: url({{brandImage}}) no-repeat center center / cover;">
                    <input type="file" class="brand-file" name="image" (change)="onSelectFile($event)">
                </div>
                <span class="text-danger">{{fileFormatError}}</span>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <!-- <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="brand">Brand Id</label>
                            <input type="number" name="brand" class="form-control" id="brand">
                        </div>
                    </div> -->
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Brand Name</label>
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="brandDetail.name" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Status</label>
                            <select class="form-control" name="status" #status="ngModel" [(ngModel)]="brandDetail.status" required [ngClass]="{'is-invalid':status?.invalid && status?.touched}">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>                                                 
            </div>
        </div>
        <span class="text-danger">{{errorMessage}}</span>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>