<div class="dashboard-body-content">
    <h5>Add Brand</h5>
    <hr>
    <form class="edit-brand-form">
        <div class="row m-0 pt-3">
            <div class="col-lg-2">
                <div class="brand-wrapper">
                    <input type="file" class="brand-file">
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="brand">Brand Id</label>
                            <input type="number" name="brand" class="form-control" id="brand">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Brand Name</label>
                            <select class="form-control">
                                <option>LG</option>
                                <option>Samsung</option>
                                <option>Dell</option>
                                <option>Oppo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Status</label>
                            <select class="form-control">
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>