<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="py-3 pr-4 text-right">
    <button class="actionbutton" data-toggle="modal" data-target="#exampleModal">Add Log</button>
</div>
<div class="dashboard-body-content pt-0">    
    <div class="table-responsive ticket-table">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Comment</th>
                    <th>Created At</th>
                    <th style="width:80px" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="ticketLogs.length != 0; else noDataFound">
                <tr *ngFor="let log of ticketLogs; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{log.comment}}</td>
                    <td>{{log.createdAt | date:'dd MMM, yyyy'}}</td>
                    <td>
                        <a href="javascript:void(0);" class="ml-2" (click)="deleteLog(log._id)"><i class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
            <ng-template #noDataFound>
                <tr>
                    <td colspan="9" class="text-center"><h3>No Data Found!</h3><br><button class="actionbutton" data-toggle="modal" data-target="#exampleModal">Add Log</button></td>
                </tr>
            </ng-template>
        </table>
    </div>
</div>

<div class="delete-modal modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit"></i> Add Log</h5>
          <button type="button" #modalCloseButton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #addLogForm="ngForm" (ngSubmit)="createLog(addLogForm)">
                <div class="row m-0 pt-3">
                    <textarea name="comment" #comment="ngModel" ngModel class="form-control" placeholder="Your comment goes here" id="comment" required [ngClass]="{'is-invalid':comment?.invalid && comment?.touched}"></textarea>
                </div>
                <span class="text-danger">{{errorMessage}}</span>
                <div class="row m-0 pt-3">
                    <button type="submit" class="btn delete-button">Add Log</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>