<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="dashboard-body-content-upper p-0">
    <div class="row m-0">
        
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/new">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/new-ticket.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.newTickets}} <span>New Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/ongoing">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/Ongoing-Tickets.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.onGoingTickets}} <span>Ongoing Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/completed">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/complete-ticket.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.completedTickets}} <span>Completed Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/cancelled">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/total-tickets.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.cancelledTickets}} <span>Cancelled Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row m-0 mt-3 col-12">
        <div class="card border-0 shadow-sm col-12 p-0">
            <div class="card-header card-head">
                <h5 class="card-head-title">Latest Tickets with issues</h5>
            </div>
            <div class="w-100 px-4">
                <div class="row  justify-content-end">
                  <div class="form-group col-sm-2">
                    <input type="text" name="" id="" placeholder="Search..." class="form-control" [(ngModel)]="this.searchInput" (focus)="this.searchInputDate = undefined; this.searchInputMonth = undefined;">
                  </div>
                  <!-- <div class="form-group col-sm-2">
                    <input type="date" name="" id="" class="form-control" [(ngModel)]="this.searchInputDate" (focus)="this.searchInput = undefined; this.searchInputMonth = undefined;">
                  </div> -->
                  <div class="form-group col-sm-2">
                    <input type="month" name="" id="" class="form-control" [(ngModel)]="this.searchInputMonth" (focus)="this.searchInput = undefined; this.searchInputDate = undefined;">
                  </div>
                </div>
            </div>
            <div class="table-responsive edit-table card-body pt-0 pb-0">
                <table class="table table-sm table-hover brand-table">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Ticket Id</th>
                            <th>Customer Name</th>
                            <!-- <th>Product</th> -->
                            <th>Brand</th>
                            <th>Category</th>
                            <th>Created At</th>
                            <th style="width:100px" class="text-center">Status</th>
                            <th style="width:80px" class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of issues | ticket: searchInput : searchInputDate : searchInputMonth; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.ticket?.uniqueId}}</td>
                            <td>{{item.ticket?.users?.name}}</td>
                            <!-- <td><img src="{{(item.ticket?.products && item.ticket.products.productImagesUrl[0]) || './assets/img/blank-item.ticket.png'}}" alt="Product Img"></td> -->
                            <td>
                                <span *ngIf="item.ticket?.brand != '';else brandNotFound">{{item.ticket?.brand}}</span>
                                <ng-template #brandNotFound>N/A</ng-template>
                            </td>
                            <td>{{item.ticket?.category}}</td>
                            <td>{{item.ticket?.createdAt | date: "d MMM y, h:mm a"}}</td>
                            <td class="text-center"> <span class="badge" [ngClass]="{ 'badge-success': item.ticket?.status == 'completed', 'badge-warning': item.ticket?.status == 'new', 'badge-danger': item.ticket?.status == 'cancelled', 'badge-primary': item.ticket?.status == 'ongoing' }">{{item.ticket?.status}}</span></td>
                            <td class="text-center">
                                <a routerLink="/support-executive/ticket/detail/{{item.ticket?._id}}"><i class="far fa-eye"></i></a>
                                <!-- <a href="javascript:void(0);" class="ml-2" (click)="deleteTicket(item.ticket?._id)"><i class="far fa-trash-alt text-danger"></i></a> -->
                            </td>
                        </tr>
                        <tr *ngIf="!issues.length">
                            <td colspan="8" class="text-center">No Data</td>
                          </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>