<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="dashboard-body-content-upper p-0">
    <div class="row m-0">
        
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/new">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/new-ticket.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.newTickets}} <span>New Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/ongoing">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/Ongoing-Tickets.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.onGoingTickets}} <span>Ongoing Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/completed">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/complete-ticket.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.completedTickets}} <span>Completed Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3">
            <div class="card shadow-sm border-0">
                <a class="card-body gpcVCf" routerLink="/support-executive/ticket/list/cancelled">
                    <div class="icon-sec w-25">
                        <img src="./assets/img/total-tickets.png">
                    </div>
                    <div class="text-sec">
                        <h3>{{dashboardData.cancelledTickets}} <span>Cancelled Tickets</span></h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>