<div class="dashboard-body-content">
    <h5>Edit Customer</h5>
    <hr>
    <form class="edit-form">
        <h5 class="text-blue">Basic Information</h5>
        <div class="row m-0 pt-3">
            <div class="col-lg-6">
                <div class="form-group edit-box">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" class="form-control" id="name">
                    </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group edit-box">
                <label for="email">Email Address</label>
                <input type="text" id="email" class="form-control" name="email">
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 form-group edit-box">
                <label for="mobile">Mobile</label>
                <input type="number" id="mobile" class="form-control">
            </div>
            <div class="col-lg-6 form-group edit-box">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control">
            </div>
            <div class="col-lg-6">
                <div class="form-group edit-box">
                    <label for="name">Status</label>
                    <select class="form-control">
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
                </div>

        </div>
        <h5 class="text-blue">Address</h5>
        <div class="row m-0 pt-3">
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="landmark">Landmark</label>
                    <input type="text" class="form-control" id="landmark">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="pin">Pin Code</label>
                    <input type="number" class="form-control" id="pin">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group edit-box">
                    <label for="city">City</label>
                    <input type="number" class="form-control" id="city">
                </div>
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>