<div class="dashboard-body-content">
    <h5>Add Package</h5>
    <hr>
    <form class="edit-brand-form" #packageAddForm="ngForm" (ngSubmit)="packageFormSubmit(packageAddForm)">
        <div class="row m-0 pt-3">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="package">Package Name</label>
                            <input class="form-control" #name="ngModel" ngModel type="text" name="name" id="name" placeholder="Enter Package Name" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">
                        </div>
                        <div class="form-group edit-box">
                            <label for="price">Price</label>
                            <input class="form-control" #amount="ngModel" ngModel type="number" name="amount" id="amount" placeholder="Enter Package amount" required [ngClass]="{'is-invalid':amount?.invalid && amount?.touched}">
                        </div>
                        <div class="form-group edit-box">
                            <label for="offered-price">Offered Price</label>
                            <input type="text" class="form-control" id="offered-price" placeholder="Enter Offered Price">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="package">Description</label>
                            <textarea type="text" name="Description" rows="8" class="form-control" id="Description" placeholder="Enter Description" name="description" #description="ngModel" ngModel required [ngClass]="{'is-invalid':description?.invalid && description?.touched}"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Status</label>
                            <select class="form-control">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>                                               
            </div>
        </div>
        <span class="text-danger">{{errorMessage}}</span>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>