<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="dashboard-body-content pt-0">
    <div class="card-header card-head pl-0 pr-0">
        <h5 class="card-head-title">Tickets</h5>
    </div>
    <div class="table-responsive ticket-table">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Ticket Id</th>
                    <th>Customer Name</th>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Created At</th>
                    <th style="width:100px" class="text-center">Status</th>
                    <!-- <th style="width:100px" class="text-center">Log</th> -->
                    <th style="width:80px" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of tickets; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ticket.uniqueId}}</td>
                    <td>{{ticket.users.name}}</td>
                    <td><img src="{{(ticket.products && ticket.products.productImagesUrl) || ''}}" alt="Product Img"></td>
                    <td>
                        <span *ngIf="ticket.brand; else brandNotFound">{{ticket.brand.name}}</span>
                        <ng-template #brandNotFound>N/A</ng-template>
                    </td>
                    <td>{{ticket.category.name}}</td>
                    <td>{{ticket.createdAt | date}}</td>
                    <td class="text-center"><span class="badge badge-success">{{ticket.status}}</span></td>
                    <!-- <td><a routerLink="/support-executive/ticket/log/list/{{ticket._id}}"><i class="fas fa-history"></i> Logs</a></td> -->
                    <td class="text-center">
                        <a routerLink="/support-executive/ticket/detail/{{ticket._id}}"><i class="far fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="delete-modal modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="far fa-trash-alt"></i> Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to permanently delete this ticket?You <b>CAN NOT</b> view this ticket in your list</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn close-button" data-dismiss="modal">Close</button>
          <button type="button" class="btn delete-button">Delete permanently</button>
        </div>
      </div>
    </div>
</div>