<div class="dashboard-body-content pt-0">
    <div class="card-header card-head pl-0 pr-0">
        <h5 class="card-head-title">Tickets</h5>
        <div>
            <div class="input-group ">
                <div class="pr-3">
                    <select class="form-control">
                        <option>10 / page</option>
                        <option>20 / page</option>
                        <option>30 / page</option>
                        <option>40 / page</option>
                        <option>50 / page</option>
                    </select>
                </div>
                <input type="search" class="form-control" placeholder="Search..."
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchbtn" type="button"
                        id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive ticket-table">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Ticket Id</th>
                    <th>Customer Name</th>
                    <th>Product</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Created At</th>
                    <th style="width:100px" class="text-center">Status</th>
                    <th style="width:80px" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>23</td>
                    <td>Santosh</td>
                    <td><img src="./assets/img/product3.png"></td>
                    <td>LG</td>
                    <td>TV</td>
                    <td>14/07/2021</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                        <a href="ticket_details.html"><i class="far fa-eye"></i></a>
                        <a href="javascript:void(0);" class="ml-2" data-toggle="modal"
                            data-target="#exampleModal"><i
                                class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>23</td>
                    <td>Santosh</td>
                    <td><img src="./assets/img/product1.png"></td>
                    <td>Samsung</td>
                    <td>Radio</td>
                    <td>14/07/2021</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                        <a href="ticket_details.html"><i class="far fa-eye"></i></a>
                        <a href="javascript:void(0);" class="ml-2" data-toggle="modal"
                            data-target="#exampleModal"><i
                                class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>23</td>
                    <td>Santosh</td>
                    <td><img src="./assets/img/product3.png"></td>
                    <td>LG</td>
                    <td>TV</td>
                    <td>14/07/2021</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                        <a href="ticket_details.html"><i class="far fa-eye"></i></a>
                        <a href="javascript:void(0);" class="ml-2" data-toggle="modal"
                            data-target="#exampleModal"><i
                                class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>23</td>
                    <td>Santosh</td>
                    <td><img src="./assets/img/product2.png"></td>
                    <td>Oppo</td>
                    <td>Mobile</td>
                    <td>14/07/2021</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                        <a href="ticket_details.html"><i class="far fa-eye"></i></a>
                        <a href="javascript:void(0);" class="ml-2" data-toggle="modal"
                            data-target="#exampleModal"><i
                                class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>23</td>
                    <td>Santosh</td>
                    <td><img src="./assets/img/product3.png"></td>
                    <td>LG</td>
                    <td>TV</td>
                    <td>14/07/2021</td>
                    <td class="text-center"><span class="badge badge-success">Active</span></td>
                    <td class="text-center">
                        <a href="ticket_details.html"><i class="far fa-eye"></i></a>
                        <a href="javascript:void(0);" class="ml-2" data-toggle="modal"
                            data-target="#exampleModal"><i
                                class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <nav class="pagination-container">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i
                        class="fa fa-angle-double-left previous-img"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link active" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i
                        class="fa fa-angle-double-right next-img"></i></a></li>
        </ul>
    </nav>
</div>