<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Ticket Details</h5>
    </div>
    <hr>
    <h5 class="text-blue">Ticket Details</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Ticket Id">Ticket Id</label>
                <input type="text" id="Ticket Id" value="{{ticketDetail.uniqueId}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Product">Product</label>
                <input type="text" id="Product" value="{{ticketDetail.products?.name}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" id="mobile" value="{{ticketDetail.category?.name}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Brand">Brand</label>
                <!-- <span *ngIf="ticketDetail.brand; else brandNotFound"> -->
                    <input type="text" id="Brand" value="{{ticketDetail?.brand ? ticketDetail.brand?.name : 'N/A'}}" readonly>    
                <!-- </span>
                <ng-template #brandNotFound>
                    <input type="text" id="Brand" value="N/A" readonly>
                </ng-template> -->
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" id="mobile" value="model 1" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Creation">Creation Date</label>
                <input type="text" id="Creation" value="{{ticketDetail.createdAt | date:'d/M/y'}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <form #statusUpdateForm="ngForm" (ngSubmit)="updateTicketStatus(statusUpdateForm)">
                <div class="form-group">
                    <label for="Status">Status</label>
                    <div class="d-flex">
                        <div>
                            <select name="status" id="status" #status="ngModel" [ngModel]="ticketDetail.status" required>
                                <option value="new">New</option>
                                <option value="ongoing">Ongoing</option>
                                <option value="completed">Completed</option>
                                <option value="cancelled">Cancelled</option>
                            </select>
                        </div>
                        <div class="pl-2 col-12">
                            <button type="submit" class="actionbutton">Update status</button>
                        </div>
                        <span class="text-danger">{{errorMessage2}}</span>
                    </div> 
                </div>
            </form>
        </div>
    </div>
    <h5 class="text-blue">Customer Details</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" value="{{ticketDetail.users?.name}}">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" value="{{ticketDetail.users?.email}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" value="{{ticketDetail.users?.mobile}}" readonly>    
            </div>
        </div>
    </div>
    <h5 class="text-blue">Tickets Assigned to</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" value="{{ticketDetail.executive?.name}}">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" value="{{ticketDetail.executive?.email}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" value="{{ticketDetail.executive?.mobile}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="employee">Employee Id</label>
                <input type="text" id="employee" value="{{ticketDetail.executive?.employeeId}}" readonly>    
            </div>
        </div>
    </div>
    </div>