<ngx-ui-loader loaderId="loader" fgsColor="#FFFFFF" bgsOpacity="1" overlayColor="rgba(40,40,40,0.1)"></ngx-ui-loader>
<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Ticket Details</h5>
    </div>
    <hr>
    <h5 class="text-blue">Ticket Details</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Ticket Id">Ticket Id</label>
                <input type="text" id="Ticket Id" value="{{ticketDetail.uniqueId}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Product">Product</label>
                <input type="text" id="Product" value="{{(ticketDetail.products && ticketDetail.products.name) || 'N/A'}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" id="mobile" value="{{ticketDetail.category?.name}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Brand">Brand</label>
                <!-- <span *ngIf="ticketDetail.brand; else brandNotFound"> -->
                    <input type="text" id="Brand" value="{{ticketDetail?.brand ? ticketDetail.brand?.name : 'N/A'}}" readonly>    
                <!-- </span>
                <ng-template #brandNotFound>
                    <input type="text" id="Brand" value="N/A" readonly>
                </ng-template> -->
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" id="mobile" value="model 1" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Creation">Creation Date</label>
                <input type="text" id="Creation" value="{{ticketDetail.createdAt | date:'d/M/y'}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <form #statusUpdateForm="ngForm" (ngSubmit)="updateTicketStatus(statusUpdateForm)">
                <div class="form-group">
                    <label for="Status">Status</label>
                    <div class="d-flex">
                        <div>
                            <select name="status" id="status" #status="ngModel" [ngModel]="ticketDetail.status" required>
                                <option value="new">New</option>
                                <option value="ongoing">Ongoing</option>
                                <option value="completed">Completed</option>
                                <option value="cancelled">Cancelled</option>
                            </select>
                        </div>
                        <div class="pl-2 col-12">
                            <button type="submit" class="actionbutton">Update status</button>
                        </div>
                        <span class="text-danger">{{errorMessage2}}</span>
                    </div> 
                </div>
            </form>
        </div>
        
    </div>
    <h5 class="text-blue">Customer Details</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" value="{{ticketDetail.users?.name}}">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" value="{{ticketDetail.users?.email}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" value="{{ticketDetail.users?.mobile}}" readonly>    
            </div>
        </div>
    </div>
    <h5 class="text-blue">Tickets Assigned to</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" id="Name" value="{{ticketDetail.executive?.name}}">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" value="{{ticketDetail.executive?.email}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" value="{{ticketDetail.executive?.mobile}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="employee">Employee Id</label>
                <input type="text" id="employee" value="{{ticketDetail.executive?.employeeId}}" readonly>    
            </div>
        </div>
    </div>
</div>

<div class="py-3 pr-4 text-right">
    <button class="actionbutton" data-toggle="modal" data-target="#exampleModal">Add Log</button>
</div>
<div class="dashboard-body-content pt-0">    
    <div class="table-responsive ticket-table">
        <table class="table table-sm table-hover brand-table">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Comment</th>
                    <th>Log Type</th>
                    <th>Created At</th>
                    <th style="width:80px" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let log of ticketLogs; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{log.comment}}</td>
                    <td>{{log?.logType}}</td>
                    <td>{{log.createdAt | date:'dd MMM, yyyy'}}</td>
                    <td>
                        <a href="javascript:void(0);" class="ml-2" (click)="deleteLog(log._id)"><i class="far fa-trash-alt text-danger"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="delete-modal modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit"></i> Add Log</h5>
          <button type="button" #modalCloseButton class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #addLogForm="ngForm" (ngSubmit)="createLog(addLogForm)">
                <div class="row m-0 pt-3">
                    <textarea name="comment" #comment="ngModel" ngModel class="form-control" placeholder="Your comment goes here" id="comment" required [ngClass]="{'is-invalid':comment?.invalid && comment?.touched}"></textarea>
                </div>
                <div class="row m-0 pt-3">
                    <label for="">Log Type</label>
                    <select #log_type name="logType" [ngModel]="'Internal'" id="" class="form-control" (change)="logTypeStore(log_type)">
                        <option value="Internal">Internal</option>
                        <option value="Go To Customer">Go To Customer</option>
                    </select>
                </div>
                <span class="text-danger">{{errorMessage}}</span>
                <div class="row m-0 pt-3">
                    <button type="submit" class="btn delete-button">Add Log</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>