<app-header *ngIf="showHeaderFooterSidebar"></app-header>
<router-outlet></router-outlet>
<app-sidebar *ngIf="showHeaderFooterSidebar"></app-sidebar>

<div class="customer-details-container">
    <div class="row">
        <app-sidebar  *ngIf="showHeaderFooterSidebar"></app-sidebar>
        <div class="dashboard-body" id="content">
            <div class="dashboard-content">
                <app-header></app-header><hr>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>