<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Brand</h5>
     <a href="add_brand.html" class="actionbutton btn btn-sm">ADD BRAND</a>
    </div>
    <hr>
    <div class="row m-0">
        <div class="col-12 col-md-3 ml-auto mb-4">
            <div class="input-group ">
                <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary searchbtn" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>	
    </div>
<div class="table-responsive edit-table">
    <table class="table table-sm table-hover brand-table">
    <thead>
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>
            <th>Brand Logo</th>
            <th style="width:100px" class="text-center">Status</th>
            <th style="width:80px" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Brand 1</td>
            <td><img src="./assets/img/brand.png"></td>
            <td class="text-center"><span class="badge badge-success">Active</span></td>
            <td class="text-center">
                <a href="edit_brand.html"><i class="far fa-edit"></i></a>
                <a href="javascript:void(0);" class="ml-2" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Brand 1</td>
            <td><img src="./assets/img/brand.png"></td>
            <td class="text-center"><span class="badge badge-success">Active</span></td>
            <td class="text-center">
                <a href="edit_brand.html"><i class="far fa-edit"></i></a>
                <a href="javascript:void(0);" class="ml-2" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Brand 1</td>
            <td><img src="./assets/img/brand.png"></td>
            <td class="text-center"><span class="badge badge-success">Active</span></td>
            <td class="text-center">
                <a href="edit_brand.html"><i class="far fa-edit"></i></a>
                <a href="javascript:void(0);" class="ml-2" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Brand 1</td>
            <td><img src="./assets/img/brand.png"></td>
            <td class="text-center"><span class="badge badge-success">Active</span></td>
            <td class="text-center">
                <a href="edit_brand.html"><i class="far fa-edit"></i></a>
                <a href="javascript:void(0);" class="ml-2" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td>Brand 1</td>
            <td><img src="./assets/img/brand.png"></td>
            <td class="text-center"><span class="badge badge-success">Active</span></td>
            <td class="text-center">
                <a href="edit_brand.html"><i class="far fa-edit"></i></a>
                <a href="javascript:void(0);" class="ml-2" data-toggle="modal" data-target="#exampleModal"><i class="far fa-trash-alt text-danger"></i></a>
            </td>
        </tr>
    </tbody>
</table>
</div>
<nav class="pagination-container">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left previous-img"></i></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right next-img"></i></a></li>
    </ul>
</nav>
</div>

<div class="delete-modal modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="far fa-trash-alt text-danger"></i> Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to permanently delete this brand?You <b>CAN NOT</b> view this brand in your list</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Delete permanently</button>
        </div>
      </div>
    </div>
  </div>