<div class="dashboard-body-content">
    <h5>Edit sub category</h5>
    <hr>
    <form class="edit-category-form" #subCategoryEditForm="ngForm" (ngSubmit)="subCategoryFormSubmit(subCategoryEditForm)">
        <div class="row m-0 pt-3">
            <div class="col-lg-2">
                <div class="brand-wrapper">
                    <input type="file" class="brand-file">
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="category">Parent Category</label>
                            <select class="form-control" #categoryId="ngModel" [(ngModel)]="subCategoryDetail?.category._id" name="categoryId" required [ngClass]="{'is-invalid':categoryId?.invalid && categoryId?.touched}">
                                <option *ngFor="let category of categoryData" value="{{category._id}}">{{category.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Sub Category Name</label>
                            <input type="text" name="name" id="name" #name="ngModel" [(ngModel)]="subCategoryDetail.name" class="form-control" required [ngClass]="{'is-invalid':name?.invalid && name?.touched}">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group edit-box">
                            <label for="name">Status</label>
                            <select class="form-control" #status="ngModel" [(ngModel)]="subCategoryDetail.status" name="status" required [ngClass]="{'is-invalid':status?.invalid && status?.touched}">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>                                                 
            </div>
        </div>
        <div class="form-group d-flex justify-content-end">
            <button type="submit" class="actionbutton">SAVE</button>
        </div>
    </form>
</div>