<div class="dashboard-body-content">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Product Details</h5>
    </div>
    <hr>
    <h5 class="text-blue">Basic Information</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="nick-name">Nick Name</label>
                <input  type="text" value="{{ productDetail?.name }}" id="name"  readonly>    
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="brand">Brand Name</label>
                <input type="text"  id="brand" value="{{ productDetail.brands?.name }}" readonly>    
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text"  value="{{ productDetail.category?.name }}" id="category"  readonly>    
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="subcategory">Sub Category</label>
                <input type="text"  name="subCategory" id="mobile" value="{{ productDetail.subCategory?.name }}" readonly>    
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text"  name="name" id="modelNo" value="{{ productDetail?.modelNo }}" readonly>    
            </div>
        </div>
    </div>
    <h5 class="text-blue">Warranty Details</h5>
    <div class="row m-0 details-page">
        <div class="col-lg-2">
            <div class="form-group">
                <label for="nick-name">Invoice Photo</label>
                <img src="{{productDetail?.invoicePhotoUrl}}" alt="Invoice Image" class="w-100">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="purchase">Purchase Date</label>
                <input type="text"  name="purchaseDate" id="purchase" value="{{ productDetail.purchaseDate| date:'dd/MM/yyyy' }}" readonly>    
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="period">Warranty Period</label>
                <input type="text"  name="warrantyPeriod" id="period" value="{{productDetail?.warrantyPeriod}}" readonly>    
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="serail">Serial No</label>
                <input type="text" name="serialNo" id="mobile" value="{{productDetail?.serialNo}}" readonly>    
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="mobile">Registered Mobile no</label>
                <input type="mobile"  name="registeredMobileNo" id="mobile" value="{{productDetail?.registeredMobileNo}}" readonly>    
            </div>
        </div>
    </div>
    <h5 class="text-blue">Product Image</h5>
    <ul class="product-details-images">
        <li><img src="./assets/img/product1.png" alt=""></li>
        <li><img src="./assets/img/product2.png" alt=""></li>
        <li><img src="./assets/img/product3.png" alt=""></li>
        <li><img src="./assets/img/product1.png" alt=""></li>
        <li><img src="./assets/img/product2.png" alt=""></li>
        <li><img src="./assets/img/product3.png" alt=""></li>
    </ul>
    </div>